<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-about">
                <a href="/" class="logo">
                <img src="/images/logo.png" alt="Luitprise" class="logo-img">
            </a>
                <p class="mt-4">Luitprise Nidhi Ltd.</p>
                <div class="social-icons">
                    <a href="#" class="social-facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-linkedin"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" class="social-instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-linkedin"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-links">
                <h4>Plan Services</h4>
                <a href="/apply/fixed-deposit">Fixed Deposit (FD)</a>
                <a href="/apply/recurring-deposit">Recurring Deposit (RD)</a>
                <a href="/apply/gold-loan">Gold Loan</a>
                <a href="/apply/personal-loan">Personal Loan</a>
                <a href="/services">Child Savings Plan</a>
                <a href="/services">Retirement Savings</a>
            </div>
            <div class="footer-links">
                <h4>Resources</h4>
                <a href="/careers">Careers</a>
                <a href="/security">Security</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/sitemap">Sitemap</a>
            </div>
            <div class="footer-links">
                <h4>Our Offices</h4>
                <div class="icon"><i class="bi bi-geo-alt"></i>
                <p>Sadiya, Milan nagar, Tinsukia, Assam, 7862157</p>
                </div>
                <div class="icon"><i class="bi bi-geo-alt"></i>
                <p>Sadiya, Milan nagar, Tinsukia, Assam, 7862157</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Luitprise Nidhi Ltd. All rights reserved | <a href="/blog">Disclaimer</a> |  <a href="/blog">Term & Conditions</a> | <a href="/privacy-policy">Privacy Policy</a></p>
        </div>
    </div>
</footer>