<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="Luitprise Logo" class="logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown hover-dropdown">
          <a class="nav-link dropdown-toggle" id="loansDropdown">Loans</a>
          <ul class="dropdown-menu" aria-labelledby="loansDropdown">
            <li><a class="dropdown-item" href="/apply/gold-loan">Gold Loan</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/apply/personal-loan">Personal Loan</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/loans">View All Loans</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown hover-dropdown">
          <a class="nav-link dropdown-toggle" id="servicesDropdown">Services</a>
          <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
            <li><a class="dropdown-item" href="/apply/fixed-deposit">Fixed Deposit (FD)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/apply/recurring-deposit">Recurring Deposit (RD)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/services">Child Savings Plan</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/services">Retirement Savings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/services">View All Services</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/premium">Pay Premium</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="btn btn-light" href="/login">Login</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>